# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air_bnb = pd.read_csv('../files/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
# How many neighborhood groups are available and which shows up the most?

air_bnb['neighbourhood_group'].describe()

# Answer: 5 unique neighborhood groups and Manhattan shows up the most.

count         48895
unique            5
top       Manhattan
freq          21661
Name: neighbourhood_group, dtype: object

In [57]:
# Are private rooms the most popular in manhattan?

air_bnb.groupby(['room_type', 'neighbourhood_group']).count().sort_values('reviews_per_month', ascending = False)

# Answer: Private rooms seem to be more popular in Brooklyn based on 
# number of listings and reviews.

                                        id   name  host_id  host_name  \
room_type       neighbourhood_group
Entire home/apt Manhattan            13199  13193    13199      13196
                Brooklyn              9559   9558     9559       9554
Private room    Brooklyn             10132  10127    10132      10128
                Manhattan             7982   7979     7982       7976
                Queens                3372   3372     3372       3370
Entire home/apt Queens                2096   2096     2096       2096
Private room    Bronx                  652    652      652        652
Shared room     Manhattan              480    480      480        480
Entire home/apt Bronx                  379    379      379        378
Shared room     Brooklyn               413    413      413        413
Private room    Staten Island          188    188      188        188
Shared room     Queens                 198    198      198        198
Entire home/apt Staten Island          176    176      176        176
Shared room     Bronx                   60     59       60         60
                Staten Island            9      9        9          9

                                     neighbourhood  latitude  longitude  \
room_type       neighbourhood_group
Entire home/apt Manhattan                    13199     13199      13199
                Brooklyn                      9559      9559       9559
Private room    Brooklyn                     10132     10132      10132
                Manhattan                     7982      7982       7982
                Queens                        3372      3372       3372
Entire home/apt Queens                        2096      2096       2096
Private room    Bronx                          652       652        652
Shared room     Manhattan                      480       480        480
Entire home/apt Bronx                          379       379        379
Shared room     Brooklyn                       413       413        413
Private room    Staten Island                  188       188        188
Shared room     Queens                         198       198        198
Entire home/apt Staten Island                  176       176        176
Shared room     Bronx                           60        60         60
                Staten Island                    9         9          9

                                     price  minimum_nights  number_of_reviews  \
room_type       neighbourhood_group
Entire home/apt Manhattan            13199           13199              13199
                Brooklyn              9559            9559               9559
Private room    Brooklyn             10132           10132              10132
                Manhattan             7982            7982               7982
                Queens                3372            3372               3372
Entire home/apt Queens                2096            2096               2096
Private room    Bronx                  652             652                652
Shared room     Manhattan              480             480                480
Entire home/apt Bronx                  379             379                379
Shared room     Brooklyn               413             413                413
Private room    Staten Island          188             188                188
Shared room     Queens                 198             198                198
Entire home/apt Staten Island          176             176                176
Shared room     Bronx                   60              60                 60
                Staten Island            9               9                  9

                                     last_review  reviews_per_month  \
room_type       neighbourhood_group
Entire home/apt Manhattan                   9967               9967
                Brooklyn                    8164               8164
Private room    Brooklyn                    7993               7993
                Manhattan                   6309               6309
                Queens                      2680               2680
Entire home/apt Queens                      1742               1742
Private room    Bronx                        524                524
Shared room     Manhattan                    356                356
Entire home/apt Bronx                        309                309
Shared room     Brooklyn                     290                290
Private room    Staten Island                159                159
Shared room     Queens                       152                152
Entire home/apt Staten Island                150                150
Shared room     Bronx                         43                 43
                Staten Island                  5                  5

                                     calculated_host_listings_count  \
room_type       neighbourhood_group
Entire home/apt Manhattan                                     13199
                Brooklyn                                       9559
Private room    Brooklyn                                      10132
                Manhattan                                      7982
                Queens                                         3372
Entire home/apt Queens                                         2096
Private room    Bronx                                           652
Shared room     Manhattan                                       480
Entire home/apt Bronx                                           379
Shared room     Brooklyn                                        413
Private room    Staten Island                                   188
Shared room     Queens                                          198
Entire home/apt Staten Island                                   176
Shared room     Bronx                                            60
                Staten Island                                     9

                                     availability_365
room_type       neighbourhood_group
Entire home/apt Manhattan                       13199
                Brooklyn                         9559
Private room    Brooklyn                        10132
                Manhattan                        7982
                Queens                           3372
Entire home/apt Queens                           2096
Private room    Bronx                             652
Shared room     Manhattan                         480
Entire home/apt Bronx                             379
Shared room     Brooklyn                          413
Private room    Staten Island                     188
Shared room     Queens                            198
Entire home/apt Staten Island                     176
Shared room     Bronx                              60
                Staten Island                       9

In [80]:
# Which hosts are the busiest based on their reviews?

air_bnb.sort_values('number_of_reviews', ascending = False)

# Answer: Dona with 629 reviews

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11759,9145202,Room near JFK Queen Bed,47621202,Dona,Queens,Jamaica,40.66730,-73.76831,Private room,47,1,629,2019-07-05,14.58,2,333
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49,1,607,2019-06-21,7.75,3,293
2030,903947,Beautiful Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82124,-73.93838,Private room,49,1,597,2019-06-23,7.72,3,342
2015,891117,Private Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82264,-73.94041,Private room,49,1,594,2019-06-15,7.57,3,339
13495,10101135,Room Near JFK Twin Beds,47621202,Dona,Queens,Jamaica,40.66939,-73.76975,Private room,47,1,576,2019-06-27,13.40,2,173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12724,9746225,"Sunny, clean, contemporary Soho Apt",14005489,Jonathan,Manhattan,SoHo,40.72823,-74.00571,Entire home/apt,250,4,0,NaN,NaN,1,0
12721,9740386,Chic 1 BR in Meatpackiing,50255130,Mary,Manhattan,Chelsea,40.74098,-74.00513,Entire home/apt,175,4,0,NaN,NaN,1,0
12717,9739888,One room in a 4 bedroom apaprtment.,50252837,Abhinaya,Manhattan,Harlem,40.81656,-73.95725,Private room,45,1,0,NaN,NaN,1,0
12716,9738605,Bedford Palace,50054847,Lauryn,Brooklyn,Crown Heights,40.66842,-73.95601,Private room,100,1,0,NaN,NaN,1,0
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [42]:
#Which neighorhood group has the highest average price?

air_bnb.groupby('neighbourhood_group').describe()[['price']]

# Answer: Manhattan has the highest average price.

                       price                                             \
                       count        mean         std   min   25%    50%
neighbourhood_group
Bronx                 1091.0   87.496792  106.709349   0.0  45.0   65.0
Brooklyn             20104.0  124.383207  186.873538   0.0  60.0   90.0
Manhattan            21661.0  196.875814  291.383183   0.0  95.0  150.0
Queens                5666.0   99.517649  167.102155  10.0  50.0   75.0
Staten Island          373.0  114.812332  277.620403  13.0  50.0   75.0


                       75%      max
neighbourhood_group
Bronx                 99.0   2500.0
Brooklyn             150.0  10000.0
Manhattan            220.0  10000.0
Queens               110.0  10000.0
Staten Island        110.0   5000.0

In [60]:
# Which neighbor hood group has the highest total price?

air_bnb.groupby(['neighbourhood']).sum()[['price']].sort_values('price', ascending = False)

# Answer: Williamsburg has the highest total price.

                     price
neighbourhood
Williamsburg        563707
Midtown             436801
Upper West Side     415720
Hell's Kitchen      400987
Bedford-Stuyvesant  399917
...                    ...
Westerleigh            143
Silver Lake            140
Richmondtown            78
Rossville               75
New Dorp                57

[221 rows x 1 columns]

In [35]:
#Which top 5 hosts have the highest total price?

air_bnb.groupby(['host_name', 'price']).head().sort_values('price', ascending = False)

# Answer: Jelenna, Erin, Katherine, Matt, and Olson

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
40433,31340283,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,40.71980,-73.98566,Entire home/apt,9999,30,0,NaN,NaN,1,365
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26259,20933849,the best you can find,13709292,Qiuchi,Manhattan,Murray Hill,40.75091,-73.97597,Entire home/apt,0,3,0,NaN,NaN,1,0
25778,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,2018-01-02,0.15,1,73
25433,20333471,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
23161,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,2018-01-06,0.05,4,28
25795,20639792,Contemporary bedroom in brownstone with nice view,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68279,-73.91170,Private room,0,1,95,2019-06-21,4.37,6,232

In [13]:
# Who currently has no (zero) availability with a review count of 100 or more?

grouped = air_bnb[air_bnb['number_of_reviews'] >= 100].groupby(['host_name', 'availability_365']).head().sort_values('availability_365', ascending = True)
grouped[grouped['availability_365'] == 0]

# Answer: Currently 162 hosts have zero availability with > 100 reviews

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
12908,9824042,21st Floor Bedroom in Doorman & Elevator Building,24175837,Greg,Manhattan,Kips Bay,40.74423,-73.97742,Private room,69,4,107,2019-04-15,2.50,2,0
973,387735,LOCATION LOCATION LOCATION Sara's,1146958,Liz,Manhattan,Gramercy,40.73677,-73.98084,Entire home/apt,125,30,128,2019-06-11,1.46,4,0
9976,7675781,JFK 10 & LGA 15 MINUTES AWAY A/C PRIVATE BED...,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69463,-73.82610,Private room,50,1,408,2018-11-24,8.56,5,0
23260,18837416,*Luxury 1 Bedrm Private Designer Home & Roofdeck*,3203397,Brian,Manhattan,West Village,40.73321,-74.00242,Entire home/apt,350,1,105,2019-05-26,4.63,1,0
4945,3544828,PrivateRoom in Beautiful Brownstone,17224426,Jillian,Brooklyn,Bedford-Stuyvesant,40.68643,-73.92208,Private room,56,2,180,2019-01-02,3.04,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13598,10167860,"Sunny, Spacious Private BR in East Village!",21430239,Edward,Manhattan,East Village,40.72828,-73.98901,Private room,119,1,134,2018-07-02,3.15,1,0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
13320,10017359,Pre-War Charm with Modern Chic in Hell's Kitchen,36638599,Chelsea,Manhattan,Hell's Kitchen,40.76316,-73.98840,Private room,170,1,112,2017-07-10,2.63,1,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
5568,4050254,Mid-Century Modern En-Suite in Brownstone!,9492212,Emily And Joel,Brooklyn,Park Slope,40.66898,-73.97831,Private room,169,1,151,2019-01-19,2.58,4,0

In [24]:
# What host has the highest total of prices and where are they located?

air_bnb.groupby(['host_name']).sum()[['price']].sort_values('price', ascending = False)

# Answer: Sonder (NYC) Manhattan

                   price
host_name
Sonder (NYC)       82795
Blueground         70331
Michael            66895
David              65844
Alex               52563
...                  ...
Carolann              12
Vishanti & Jeremy     10
Salim                 10
Qiuchi                 0
Aymeric                0

[11452 rows x 1 columns]

In [40]:
# When did Danielle from Queens last receive a review?

# grouped = air_bnb[air_bnb['host_name'] == 'Danielle']
# grouped[grouped['neighbourhood_group'] == 'Queens']
# Host Id 26432133

air_bnb[air_bnb['host_id'] == 26432133]

# Answer: last Review 2019-07-08

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337

## Further Questions

1. Which host has the most listings?

In [50]:
# air_bnb['calculated_host_listings_count'].max()

air_bnb[air_bnb['calculated_host_listings_count'] == 327]

# Answer: Sonder (NYC) has the most listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
38293,30181691,Sonder | 180 Water | Incredible 2BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70637,-74.00645,Entire home/apt,302,29,0,NaN,NaN,327,309
38294,30181945,Sonder | 180 Water | Premier 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70771,-74.00641,Entire home/apt,229,29,1,2019-05-29,0.73,327,219
38588,30347708,Sonder | 180 Water | Charming 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70743,-74.00443,Entire home/apt,232,29,1,2019-05-21,0.60,327,159
39769,30937590,Sonder | The Nash | Artsy 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74792,-73.97614,Entire home/apt,262,2,8,2019-06-09,1.86,327,91
39770,30937591,Sonder | The Nash | Lovely Studio + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74771,-73.97528,Entire home/apt,255,2,14,2019-06-10,2.59,327,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47691,35871510,Sonder | 116 John | Vibrant Studio + Fitness Room,219517861,Sonder (NYC),Manhattan,Financial District,40.70818,-74.00631,Entire home/apt,135,29,0,NaN,NaN,327,339
47692,35871511,Sonder | 116 John | Vibrant 1BR + Fitness Room,219517861,Sonder (NYC),Manhattan,Financial District,40.70691,-74.00682,Entire home/apt,165,29,0,NaN,NaN,327,342
47693,35871515,Sonder | 116 John | Stunning 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70772,-74.00673,Entire home/apt,165,29,0,NaN,NaN,327,347
47814,35936418,Sonder | 116 John | Polished Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70840,-74.00518,Entire home/apt,699,29,0,NaN,NaN,327,327
47821,35937891,Sonder | 116 John | Simple Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70707,-74.00557,Entire home/apt,699,29,0,NaN,NaN,327,341

2. How many listings have completely open availability?

In [52]:
air_bnb[air_bnb['availability_365'] == 365].count()

# Answer: 1295 listings

id                                1295
name                              1294
host_id                           1295
host_name                         1295
neighbourhood_group               1295
neighbourhood                     1295
latitude                          1295
longitude                         1295
room_type                         1295
price                             1295
minimum_nights                    1295
number_of_reviews                 1295
last_review                        841
reviews_per_month                  841
calculated_host_listings_count    1295
availability_365                  1295
dtype: int64

3. What room_types have the highest review numbers?

In [53]:
air_bnb.groupby('room_type').describe()[['number_of_reviews']]

# Answer: Entire home/apt by count

                number_of_reviews                                              \
                            count       mean        std  min  25%  50%    75%
room_type
Entire home/apt           25409.0  22.842418  42.408837  0.0  1.0  5.0  23.00
Private room              22326.0  24.112962  47.286746  0.0  1.0  5.0  25.00
Shared room                1160.0  16.600000  34.185006  0.0  0.0  4.0  16.25


                   max
room_type
Entire home/apt  488.0
Private room     629.0
Shared room      454.0

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

1. How many neighborhood groups are available and which shows up the most?
Answer: 5 unique neighborhood groups and Manhattan shows up the most.

2. # Are private rooms the most popular in manhattan?
Answer: Private rooms seem to be more popular in Brooklyn based on number of listings and reviews.      

3. # Which hosts are the busiest based on their reviews?
Answer: Dona with 629 reviews

4. # Which neighorhood group has the highest average price?
Answer: Manhattan has the highest average price.

5. # Which neighbor hood group has the highest total price?
Answer: Williamsburg has the highest total price.

6. # Which top 5 hosts have the highest total price?
Answer: Jelenna, Erin, Katherine, Matt, and Olson

7. # Who currently has no (zero) availability with a review count of 100 or more?
Answer: Currently 162 hosts have zero availability with > 100 reviews

8. # What host has the highest total of prices and where are they located?
Answer: Sonder (NYC) Manhattan

9. # When did Danielle from Queens last receive a review?
Answer: last Review 2019-07-08

10. # Which host has the most listings?
Answer: Sonder (NYC) has the most listings

11. # How many listings have completely open availability?
Answer: 1295 listings

12. # What room_types have the highest review numbers?
Answer: Entire home/apt by count